version: '3.3'

services:
  mysql:
    image: mysql:5
    environment:
      - MYSQL_DATABASE=platzi_store
      - MYSQL_ROOT_PASSWORD=1234567890
    ports:
      - '3306:3306'
    volumes:
      - ./mysql_data:/var/lib/mysql

  phpmyadmin:
    image: phpmyadmin/phpmyadmin
    environment:
      - MYSQL_ROOT_PASSWORD=1234567890
      - PMA_HOST=mysql
    ports:
      - '80:80'
    depends_on:
      - mysql
